.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 203, 203);
  align-items: center;
  padding: 0 40px;
}

.nav-item {
  background-color: rgb(128, 47, 47);
  margin: 2px;
  color: aliceblue;
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgb(145, 125, 125);
}
